extends ../layout.jade
block contenido

 section(class="full-height text-center" id="main-content")
      div(class="data")
        div(class="form-group col-md-5 col-sm-3 col-xs-8 center-block no-float top-space")
          img(src="imgs/secretaria.png" class="animated fadeIn")
        div(class="form-group col-md-10 col-sm-12 col-xs-12 center-block no-float top-space")
        h2(class="animated fadeInDown delay-2 big green robotothin") Estimado usuario, esta funcionalidad estará disponible próximamente. - B.U.S.
          form(method="GET" action="/" style="margin-top:1.5em")
            input(type="submit" class="btn btn-info" value="Aceptar")
